{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>myapp</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <script type="text/javascript">
    var FacebookAppId = '754318864731770';
    window.fbAsyncInit = function() {
    FB.init({
      appId      : FacebookAppId,
      xfbml      : true,
      version    : 'v2.8'
    });
    window.fbloaded();
    FB.AppEvents.logPageView();
    };
    

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>


	<div class="container-full">
		<header id='header' class="navbar navbar-fixed-top header">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="middle">
						<img class="logo" src="{% static 'images/logo.png' %}"></img>
                <button id="share-button" class="btn btn-primary share">Sharing on FB</button>
                <button id="my-button" class="btn btn-primary login">Facebook Login</button>
                <img id="my-profile-picture" class="img-rounded user-pic" src="">
                <h5 id="user-name"></h5>
                
					</div>
					
				</div>
				<div class="col-md-2"></div>
			</div>
		</header>
	</div>
	<div class="container" id="main-container">
		<div class="row">
  			<div class="col-md-3 block">
  				<h1>Form</h1>
          <div class="post-form">
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}

              <input type="text" class="form-control" placeholder="text" name="text">
              <button type="submit">post</button>
            </form>
          </div>

  			</div>
  			<div class="col-md-6 block">
  				<h1>posts</h1>
            {% for post in posts %}
              <div class="container-post">
                <h2 class="name">{{ post.text }}</h2>
              </div>               
            {% endfor %}
  			</div>
  			<div class="col-md-3 block">
  				<h1>Friend lists</h1>
          <div class="friend-block">
          </div>
  			</div>
		</div>
	</div>
<script type="text/javascript">

window.fbloaded = function() {
    FB.Event.subscribe('auth.statusChange', function(response) {
        if (response.status === 'connected') {
            FB.api("/me/picture?width=30", function(response) {
                $("#my-profile-picture").attr("src", response.data.url);
            });
            FB.api("/me", function(response) {
                $("#user-name").html( response.name);
            });
            FB.api( "/me/friends",function(response){
              var len = Object.keys(response.data).length;
              console.log(len);
              for (i = 0; i < len; i++) {
                var iDiv = document.createElement('img');
                iDiv.className = 'friend-pic img-rounded';
                iDiv.src = "http://graph.facebook.com/"+
                            response.data[i].id+"/picture?type=square";
                document.getElementsByClassName('friend-block')[0].appendChild(iDiv);
            }
        }
    });
}
var loginCheck = function() {
  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
      FB.logout(function(response) {
          $("#my-button").html("Facebook Login");
          $("#my-profile-picture").attr("src", "");
          $("#user-name").html(null);
          $(".friend-block").empty();
      });
    }
    else {
        FB.login(function(response) {
            $("#my-button").html("Facebook Logout");
        },{scope: 'user_friends'});
    }
  });
}

$("#my-button").click(function() {
  loginCheck();
});

var sharing = function(){
  FB.ui({
      method: 'share',
      href:'https://g10416015.herokuapp.com/',
  },function(response){});
}
$("#share-button").click(function(){
    sharing();
});

</script>
</body>
</html>